.header-box,
.wording-box {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px hsl(0, 0%, 77%);
    margin: 1em 0;
    padding: 10px;
}

.header-box::before,
.wording-box::before {
    background: white;
    border: dotted 1px rgba(0,0,0,.3);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.1);
    display: block;
    float: left;
    font-family: Arial, Verdana, Helvetica;
    font-size: .6rem;
    margin-left: 3rem;
    margin-top: -1.1rem;
    padding: 0 0.5rem;
}

.header-box::before {
    border-left: solid 4px #ff8300;
    content: "header box";
}

.wording-box::before {
    border-left: solid 4px #3e99fb;
    content: "wording box";
}

.consentHeader,
.consent {
    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%);
    margin: 0;
    padding: 10px;
}

