/* consentHeader */
.consentHeader {
    /* Workflow.css */
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    /* consent.css */
    -webkit-margin-after: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1.17em;
    font-size: 20px !Important;
    font-weight: bold;
    font-weight: bold;
    line-height: 1;
    line-height: 40px;
    margin: 10px 0;
    text-align: left;
    text-rendering: optimizelegibility;
}

/* consent */
.consent p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}